<%- include('./../parts/html-head') %>
    <%- include('./../parts/navbar') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">編輯資料</h5>
                            <form name="form1" onsubmit="checkForm(event)" novalidate>
                                <div class="mb-3">
                                    <label for="name" class="form-label">name</label>
                                    <input type="text" class="form-control" id="name" name="name" required value="<%= name %>">
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label">email</label>
                                    <input type="email" class="form-control" id="email" name="email"  value="<%= email %>">
                                </div>
                                <div class="mb-3">
                                    <label for="mobile" class="form-label">mobile</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile"
                                        pattern="09\d{2}-?\d{3}-?\d{3}" value="<%= mobile %>">
                                </div>
                                <div class="mb-3">
                                    <label for="birthday" class="form-label">birthday</label>
                                    <input type="date" class="form-control" id="birthday" name="birthday" value="<%= toDateString(birthday) %>">
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">address</label>
                                    <textarea class="form-control" name="address" id="address" cols="50"
                                        rows="3"><%= address %></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">修改</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./../parts/scripts') %>
        <script>
            // urlencoded
            function checkForm(evt) {
                evt.preventDefault();

                const fd = new FormData(document.form1);
                const usp = new URLSearchParams(fd);
                // console.log(usp.toString());

                fetch('', {
                    method: 'PUT',
                    body: usp.toString(),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(r => r.json())
                .then(result => {
                    console.log(result);
                    if(result.success) {
                        alert('修改完成！');
                    } else {
                        alert('無法修改！');
                    }
                })
            }
        </script>
            <%- include('./../parts/html-foot') %>