<%- include('./../parts/html-head') %>
<%- include('./../parts/navbar') %>
<div class="container">
    <%= totalRows %>
</div>
<%- include('./../parts/scripts') %>
<%- include('./../parts/html-foot') %>