<%- include('./../parts/html-head') %>
    <%- include('./../parts/navbar') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item <%= 1===page ? 'disabled' : '' %>">
                                <a class="page-link" href="<%= page-1 %>">
                                    <i class="fa-solid fa-circle-arrow-left"></i>
                                </a>
                            </li>
                            <% for(let i = page-5; i <= page+5; i++) 
                                if(i>=1 && i<=totalPages) { %>
                                    <li class="page-item <%= i===page ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                            <% } %>
                                    <li class="page-item <%= totalPages===page ? 'disabled' : '' %>">
                                        <a class="page-link" href="?page=<%= page+1 %>">
                                            <i class="fa-solid fa-circle-arrow-right"></i>
                                        </a>
                                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Birthady</th>
                                <th scope="col">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let r of rows) {%>
                                <tr>
                                    <td>
                                        <%= r.sid %>
                                    </td>
                                    <td>
                                        <%= r.name %>
                                    </td>
                                    <td>
                                        <%= r.mobile %>
                                    </td>
                                    <td>
                                        <%= r.email %>
                                    </td>
                                    <td>
                                        <%= toDateString(r.birthday) %>
                                    </td>
                                    <td>
                                        <%= r.address %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <%- include('./../parts/scripts') %>
            <%- include('./../parts/html-foot') %>