<%- include('./../parts/html-head') %>
    <%- include('./../parts/navbar') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            name="search" value="<%=search%>">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item <%= 1===page ? 'disabled' : '' %>">
                                <a class="page-link"
                                    href="?<%= new URLSearchParams({...query, page: page-1}).toString() %>">
                                    <i class="fa-solid fa-circle-arrow-left"></i>
                                </a>
                            </li>
                            <% for(let i=page-5; i <=page+5; i++) if(i>=1 && i<=totalPages) { %>
                                    <li class="page-item <%= i===page ? 'active' : '' %>">
                                        <a class="page-link"
                                            href="?<%= new URLSearchParams({...query, page: i}).toString() %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <li class="page-item <%= totalPages===page ? 'disabled' : '' %>">
                                            <a class="page-link"
                                                href="?<%= new URLSearchParams({...query, page: page+1}).toString() %>">
                                                <i class="fa-solid fa-circle-arrow-right"></i>
                                            </a>
                                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">                                    <i class="fa-solid fa-trash"></i>
                                </th>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Birthady</th>
                                <th scope="col">Address</th>
                                <th scope="col">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let r of rows) {%>
                                <tr>
                                    <td>
                                        <a href="javascript:deleteInfo(<%= r.sid %>)">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <%= r.sid %>
                                    </td>
                                    <td>
                                        <%= r.name %>
                                    </td>
                                    <td>
                                        <%= r.mobile %>
                                    </td>
                                    <td>
                                        <%= r.email %>
                                    </td>
                                    <td>
                                        <%= toDateString(r.birthday) %>
                                    </td>
                                    <td>
                                        <%= r.address %>
                                    </td>
                                    <td>
                                        <a href="/ab/edit/<%= r.sid %>">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <%- include('./../parts/scripts') %>
        <script>
            function deleteInfo(sid) {
                if(confirm(`確定要刪除編號為${sid}的資料嗎？`)) {
                    fetch('/ab/del/'+sid, {
                        method: 'DELETE'
                    })
                    .then(r => r.json())
                    .then(result => {
                        console.log(JSON.stringify(result));
                        location.reload();
                    })
                }
            }
        </script>
            <%- include('./../parts/html-foot') %>